# Since each deal Amir worked on (both won and lost) was different, each was worth a different amount of money. These values are stored in the amount column of amir_deals and follow a normal distribution with a mean of 5000 dollars and a standard deviation of 2000 dollars. As part of his performance metrics, you want to calculate the probability of Amir closing a deal worth various amounts.

In [48]:
import numpy as np
import pandas as pd

In [49]:
dict1 = {
    'animal':['hamster','alligator','hamster','cat','snake','cat','hamster','cat','cat','snake','hamster','hamster','cat'],
    'age':[1,9,4,13,14,10,2,4,14,7,14,2,1],
    'weight':[1,2,3,4,5,6,7,13,8,12,11,8,10],
    'length':[8,6,9,1,8,9,5,6,6,6,5,3,1],
    
}

In [50]:
ag = pd.DataFrame(dict1)

In [51]:
ag

       animal  age  weight  length
0     hamster    1       1       8
1   alligator    9       2       6
2     hamster    4       3       9
3         cat   13       4       1
4       snake   14       5       8
5         cat   10       6       9
6     hamster    2       7       5
7         cat    4      13       6
8         cat   14       8       6
9       snake    7      12       6
10    hamster   14      11       5
11    hamster    2       8       3
12        cat    1      10       1

In [58]:
from scipy.stats import norm

In [55]:
# Probability of deal < 7500
prob_less_7500 = norm.cdf(7500, 5000, 2000)

print(prob_less_7500)

0.8943502263331446

In [47]:
# Probability of closing > 1 deal out of 3 deals
prob_greater_than_1 = 1 - binom.cdf(1, 3, 0.3)

print(prob_greater_than_1)

0.21599999999999997

In [56]:
# Probability of deal > 1000
prob_over_1000 = 1 - norm.cdf(1000, 5000, 2000)

print(prob_over_1000)

0.9772498680518208

In [57]:
# Probability of deal between 3000 and 7000
prob_3000_to_7000 = norm.cdf(7000, 5000, 2000) - norm.cdf(3000, 5000, 2000)

print(prob_3000_to_7000)

0.6826894921370859